body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

input {
    margin: 5px;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
}
